<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/cart/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/success.css"/>

</head>
<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="http://gulimall.com">谷粒商城首页</a>
            </li>

        </ul>

        <ul class="hd_wrap_right">
            <li class="forel">
                <a th:if="${session.loginUser != null}" href="http://auth.gulimall.com/login.html" class="link_login">欢迎，[[${session.loginUser.nickname}]]</a>&nbsp;
                <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html" class="link_login">你好，请登录</a>&nbsp;
                <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html"
                   class="link_regist">免费注册</a>
            </li>
            <li class="spacer"></li>

            <li>
                <a href="/javascript:;">我的订单</a>
            </li>


        </ul>

    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">

        <div class="nav_top">
            <div class="nav_top_one">
                <a href="http://gulimall.com"><img src="/static/cart/img/logo1.jpg" style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two">
                <input id="input_keyword" type="text" placeholder="" onfocus="this.placeholder=''"
                       onblur="this.placeholder='' ">
                <button id="btn_search" style="margin-left: 5px;">搜索</button>
            </div>
        </div>

    </div>
</div>

<div class="main">

    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <h1 th:if="${item == null}">所选商品不存在</h1>
                <div class="mc success-cont" th:if="${item != null}">
                    <div class="success-lcol">
                        <div class="success-top"><b class="succ-icon"></b>
                            <h3 class="ftx-02">商品已成功加入购物车</h3></div>
                        <div class="p-item">
                            <div class="p-img">
                                <a th:href="|http://item.gulimall.com/${item.skuId}.html|" target="_blank"><img
                                        style="height: 60px;width:60px;"
                                        th:src="${item.skuImg}"></a>
                            </div>
                            <div class="p-info">
                                <div class="p-name">
                                    <a th:text="${item.skuTitle}">TCL 55A950C 55英寸32核人工智能 HDR曲面超薄4K电视金属机身（枪色）</a>
                                </div>
                                <div class="p-extra">
                                    <span class="txt" th:each="attr : ${item.attrs}">[[${attr}]] </span>
                                    <span class="txt"> / 数量：[[${item.count}]]</span>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <div class="success-btns success-btns-new">
                        <div class="success-ad">
                            <a href="/#none"></a>
                        </div>
                        <div class="clr"></div>
                        <div class="bg_shop">
                            <a th:href="|http://item.gulimall.com/${item.skuId}.html|" class="btn-tobback">查看商品详情</a>
                            <a class="btn-addtocart" href="http://cart.gulimall.com/cart/list.html"
                               id="GotoShoppingCart"><b></b>去购物车结算</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/cart/js/success.js"></script>
<script>
    // 搜索按钮
    $("#btn_search").click(function () {
        var keyword = $.trim($("#input_keyword").val());
        if (keyword.length == 0) {
            return false;
        }
        window.location.href = "http://search.gulimall.com/list.html?keyword=" + keyword;
    })
</script>

</html>
